
version: '3.8'
services:
  mongo: 
    image: mongo:latest
    container_name: gastromatch-db 
    ports: 
      - "27017:27017" 
    volumes: 
      - mongo-data:/data/db
  backend: 
    build: ./server
    container_name: gastromatch-backend
    ports:
     - "5000:5000"
    environment: 
      - MONGO_URI=mongodb://mongo:27017/gastromatch 
      - PORT=5000 
    depends_on: 
      - mongo  
  frontend: 
    build: ./client 
    container_name: gastromatch-frontend 
    ports: 
      - "8080:80" 
    depends_on: 
      - backend
volumes: 
    mongo-data: